fastapi
uvicorn
python-multipart
sqlmodel
alembic
psycopg2-binary
openai
python-dotenv
python-magic
passlib[bcrypt]
bcrypt==3.2.2
python-jose[cryptography]
websockets
fastapi-mail
jinja2
pydantic-settings
duckduckgo-search
Pillow
slowapi
redis
httpx
google-genai
